<!doctype html>
<html>
<head>
<title>相册-罗俊杰个人博客-一个开启你记录旅行的足迹和分享途中所见所闻，与探讨互联网神秘技术的网站</title>
<meta name="keywords" content="罗俊杰个人博客,分享旅行,喜欢在路上,旅游,慢生活,所见所闻,千奇百怪,罗俊杰个人博客博客" />
<meta name="description" content="一个关注旅行，在路上寻找那个丢失自我，远离城市的喧哗，放慢脚步去享受慢生活，分享在路上所见所闻，与大家一起发现这世界的千奇百怪！" />
<link href="css/base.css" rel="stylesheet">
<link href="css/case.css" rel="stylesheet">
<!--九款鼠标经过图片展开效果-->
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<link href="css/sim-prev-anim.css" rel="stylesheet" type="text/css" />
<!--九款鼠标经过图片展开效果-->
<!--分享相册-->
<link rel="stylesheet" href="css/baguettebox.min.css">
<link rel="stylesheet" href="css/lrtk.css">
<script src="js/baguettebox.min.js"></script>
<!--分享相册-->
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/waterfall.js" ></script> 
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="js/jquery.1.4.2-min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script src="js/swfobject_modified.js" type="text/javascript"></script>
<!-- 返回顶部调用 end-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- aiwke.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?ba0e885cd446efa2323e5ab6986951da";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
<!--header-->
<header>
      <div id="logo"><a href="/" title="罗俊杰个人博客"><img src="images/logo.png" width="260" height="100"></a></div>
      <nav class="topnav" id="topnav">
            
            
           
           
            	<a href="/" title="关于我"><span>关于我</span><span class="en"></span></a>
                
           
           
            	<a href="/" title="慢生活"><span>慢生活</span><span class="en"></span></a>
                
           
           
            	<a href="/" title="忙里偷闲"><span>忙里偷闲</span><span class="en"></span></a>
                
           
           
            	<a href="/" title="学无止境"><span>学无止境</span><span class="en"></span></a>
                
           
           
            	<a href="/" title="相册"><span>相册</span><span class="en"></span></a>
                
           
           
            	<a href="/" title="留言板"><span>留言板</span><span class="en"></span></a>
                
            
      </nav>
</header>
<!--header-->

    <h1 class="t_nav">
    	<span>好咖啡要和朋友一起品尝，好"风景"也要和同样喜欢它的人一起分享。 </span>
        <a href="/" class="n1">网站首页</a>
        <a href="/" class="n2">作品展示</a>
    </h1>
   <div class="text5"><span>记录·回忆</span></div>	
   <div class="albums">
<div class="albums-inner">
<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-1">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>

<!--<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0005.jpg" class="all studio"/>
<img src="images/studio_0006.jpg" class="all studio"/>
<img src="images/studio_0001.jpg" class="all studio"/>-->
</div>
<div class="albums-tab-text">爱<span>你</span></div>
</div>

<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-9">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0005.jpg" class="all studio"/>
<img src="images/studio_0009.jpg" class="all studio"/>
<img src="images/studio_0007.jpg" class="all studio"/>
<img src="images/studio_0008.jpg" class="all studio"/>
<img src="images/studio_0006.jpg" class="all studio"/>-->
</div>
<div class="albums-tab-text">丽<span>江</span></div>
</div>



<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-3">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0005.jpg" class="all studio"/>
<img src="images/studio_0006.jpg" class="all studio"/>
<img src="images/studio_0007.jpg" class="all studio"/>
<img src="images/studio_0008.jpg" class="all studio"/>
<img src="images/studio_0011.jpg" class="all studio"/>-->

</div>
<div class="albums-tab-text">在路<span>上</span></div>
</div>


<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-4"><!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0005.jpg" class="all studio"/>
<img src="images/studio_0006.jpg" class="all studio"/>
<img src="images/studio_0007.jpg" class="all studio"/>
<img src="images/studio_0008.jpg" class="all studio"/>
<img src="images/studio_0009.jpg" class="all studio"/>-->

</div>
<div class="albums-tab-text">一起<span>疯</span></div>
</div>

<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-5">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0005.jpg" class="all studio"/>-->

</div>
<div class="albums-tab-text">旅行中<span>相遇</span></div>
</div>


<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-6">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0009.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0005.jpg" class="all studio"/>
<img src="images/studio_0006.jpg" class="all studio"/>
<img src="images/studio_0007.jpg" class="all studio"/>
<img src="images/studio_0008.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>-->
</div>
<div class="albums-tab-text">一起<span>走吧！</span></div>
</div>


<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-7">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>-->

</div>
<div class="albums-tab-text">独自一人<span>的爱</span></div>
</div>

<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-8">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0009.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0005.jpg" class="all studio"/>
<img src="images/studio_0006.jpg" class="all studio"/>
<img src="images/studio_0007.jpg" class="all studio"/>
<img src="images/studio_0008.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>-->
</div>
<div class="albums-tab-text">相爱一生<span>永不相离</span></div>
</div>


<div class="albums-tab">
<div class="albums-tab-thumb sim-anim-2">
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940976130610-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌，'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940946459450-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人，最终只能导致自己世界的崩塌'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884403641646-lp.jpg' border='0' width='120' height='120' alt='逃避自己的人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1434884425106120-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940796115953.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940740595775.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑，在没有人看得到你'>
<!--<img src="images/studio_0001.jpg" class="all studio"/>--><img src='images/1433940704844068-lp.jpg' border='0' width='120' height='120' alt='不再因为别人过得好而焦虑'>

<!--<img src="images/studio_0001.jpg" class="all studio"/>
<img src="images/studio_0002.jpg" class="all studio"/>
<img src="images/studio_0003.jpg" class="all studio"/>
<img src="images/studio_0004.jpg" class="all studio"/>
<img src="images/studio_0010.jpg" class="all studio"/>-->

</div>
<div class="albums-tab-text">爱永<span>相随</span></div>
</div>


    </div>

</div>

<article class="blogs">
		<!--<div class="photowall">
  <ul class="wall_a">
   <li><a href="/a/jiluhuiyi/20150610/74.html"><a href='/a/jiluhuiyi/20150610/74.html' class='preview'><img src='images/1433940740595775.jpg'/></a>
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏</h2>
      </figcaption>
      </a></li>
<li><a href="/a/jiluhuiyi/20150610/75.html"><a href='/a/jiluhuiyi/20150610/75.html' class='preview'><img src='images/1433940796115953.jpg'/></a>
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏</h2>
      </figcaption>
      </a></li>
<li><a href="/a/jiluhuiyi/20150610/76.html"><a href='/a/jiluhuiyi/20150610/76.html' class='preview'><img src='images/1434884425106120-lp.jpg'/></a>
      <figcaption>
        <h2>一个人最好的模样大概是平静一点，坦然接受自己所有的弱点，不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏......</h2>
      </figcaption>
      </a></li>
<li><a href="/a/jiluhuiyi/20150610/78.html"><a href='/a/jiluhuiyi/20150610/78.html' class='preview'><img src='images/1434884403641646-lp.jpg'/></a>
      <figcaption>
        <h2>逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</h2>
      </figcaption>
      </a></li>
<li><a href="/a/jiluhuiyi/20150610/80.html"><a href='/a/jiluhuiyi/20150610/80.html' class='preview'><img src='images/1433940976130610-lp.jpg'/></a>
      <figcaption>
        <h2>逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</h2>
      </figcaption>
      </a></li>
<li><a href="/a/jiluhuiyi/20150610/79.html"><a href='/a/jiluhuiyi/20150610/79.html' class='preview'><img src='images/1433940946459450-lp.jpg'/></a>
      <figcaption>
        <h2>逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</h2>
      </figcaption>
      </a></li>
<li><a href="/a/jiluhuiyi/20150610/77.html"><a href='/a/jiluhuiyi/20150610/77.html' class='preview'><img src='images/1433940857381820-lp.jpg'/></a>
      <figcaption>
        <h2>一个人最好的模样大概是平静一点，坦然接受自己所有的弱点，不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏......</h2>
      </figcaption>
      </a></li>
<li><a href="/a/jiluhuiyi/20150610/73.html"><a href='/a/jiluhuiyi/20150610/73.html' class='preview'><img src='images/1433940704844068-lp.jpg'/></a>
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏</h2>
      </figcaption>
      </a></li>

  </ul>
</div>-->


<div class="about">
  <ul>
 <!-- 圆动画-->
    <div id="fountainG">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </div>
   <!-- 圆动画-->
   <div class="about_girl"><span><img src='images/1433939626548913.jpg' border='0' width='120' height='120' alt='初遇时，他的幽默'></span>
      <p>初遇时，他的幽默，他往日的深情、承诺和傻劲儿，两个人共度的美丽时刻，一一印在我的回忆里....</p>
    </div>

    <div class="about_boy"><span><img src='images/1433939704159131-lp.jpg' border='0' width='120' height='120' alt='初遇时，她的热情'></span>
      <p>初遇时，她的热情，她腼腆的微笑、可爱和气质，两个人共度的愉快时刻，一一印在我的回忆里...</p>
    </div>

      <ul  class="cloud">
        <li><a href="/" target="_blank">个人博客</a></li>
        <li><a>丽江</a></li>
        <li><a>大理</a></li>
        <li><a>九寨沟</a></li>
        <li><a>西藏</a></li>
        <li><a>厦门</a></li>
        <li><a>三亚</a></li>
        <li><a >天涯海角</a></li>
        <li><a>北京</a></li>
        <li><a >南京</a></li>
        <li><a>重庆</a></li>
        <li><a >四川</a></li>
        <li><a >千户苗寨</a></li>
        <li><a >台湾</a></li>
      </ul>
  </ul>
</div>
</article>


<!--分享-->
<div class="text7 "><h3><span>分享</span></h3></div>

<!--<article class="xc1040">
	<ul>
    <li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150621/82.html' class='preview'><img src='images/1434882856126573-lp.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/68.html' class='preview'><img src='images/1433936637744234.jpg'/></a></a>
        	<figcaption>
        		<h2>每一次的旅游，都有不同的发现！ </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/62.html' class='preview'><img src='images/1433936144122898-lp.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/57.html' class='preview'><img src='images/1433935791758349-lp.jpg'/></a></a>
        	<figcaption>
        		<h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/70.html' class='preview'><img src='images/1433936858662517-lp.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/69.html' class='preview'><img src='images/1433936752963352.jpg'/></a></a>
        	<figcaption>
        		<h2>端午节，你准备好了吗？ </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/67.html' class='preview'><img src='images/1433936585253069.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/66.html' class='preview'><img src='images/1433936477462634-lp.jpg'/></a></a>
        	<figcaption>
        		<h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"></a>
        	<figcaption>
        		<h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/64.html' class='preview'><img src='images/1433936342268905-lp.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/63.html' class='preview'><img src='images/1433936273323297-lp.jpg'/></a></a>
        	<figcaption>
        		<h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/60.html' class='preview'><img src='images/1433935956113685-lp.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/59.html' class='preview'><img src='images/1433935884132180-lp.jpg'/></a></a>
        	<figcaption>
        		<h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/58.html' class='preview'><img src='images/1433935839731755-lp.png'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/56.html' class='preview'><img src='images/1433935741975917-lp.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/55.html' class='preview'><img src='images/1433935709247217-lp.jpg'/></a></a>
        	<figcaption>
        		<h2> </h2>
      		</figcaption>
        </li>
<li><a hre="/a/fenxiangshaer/index.html"><a href='/a/fenxiangshaer/20150610/54.html' class='preview'><img src='images/1433935626181421-lp.jpg'/></a></a>
        	<figcaption>
        		<h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      		</figcaption>
        </li>


    </ul>
</article>-->


<div class="baguetteBoxOne gallery">
        <a href="/" data-caption="Golden Gate Bridge"><img src="images/1-1.jpg"></a>
        <a href="/" title="Midnight City"><img src="images/1-2.jpg"></a>
        <a href="/"><img src="images/1-4.jpg"></a>
        <a href="/"><img src="images/1-5.jpg"></a>
        <a href="/"><img src="images/1-6.jpg"></a>
        <a href="/"><img src="images/1-7.jpg"></a>
        <a href="/"><img src="images/1-8.jpg"></a>
        <a href="/"><img src="images/1-4.jpg"></a>
        <a href="/"><img src="images/1-5.jpg"></a>
        <a href="/"><img src="images/1-6.jpg"></a>
        <a href="/"><img src="images/1-7.jpg"></a>
        <a href="/"><img src="images/1-8.jpg"></a>
</div>
<script>
baguetteBox.run('.baguetteBoxOne', {
    animation: 'fadeIn',
});
</script>


 <!-- 分页-->
 <div class="page">
        <li>首页</li>
<li class="thisclass">1</li>
<li><a href='/'>2</a></li>
<li><a href='/'>下一页</a></li>
<li><a href='/'>末页</a></li>
<li><select name='sldd' style='width:36px' onchange='location.href=this.options[this.selectedIndex].value;'>
<option value='list_5_1.html' selected>1</option>
<option value='list_5_2.html'>2</option>
</select></li>
<li><span class="pageinfo">共 <strong>2</strong>页<strong>30</strong>条</span></li>


  </div>
<footer>
  <p class="ft-copyright">罗俊杰个人博客 Sunshine &nbsp;&nbsp;黔ICP备15009647号</p>
<div id="tbox"> <a id="togbook" href=""></a> <a id="gotop" href="javascript:void(0)"></a> </div>
</footer> 
<script src="js/silder.js"></script>
<script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>
</body>
</html>